.Dictionary {
  text-align: left;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 10%);
  margin: 20px 0;
  margin-bottom: 0px;
}

.search {
  margin-right: 300px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5px;
  width: 600px;
  padding-left: 10px;
}
.Dictionary input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
