h5 {
  font-weight: 500;
  font-size: 25px !important;
  margin-bottom: 10px;
  margin-top: -10px;
  opacity: 60%;
}
.info {
  color: #000000;
  opacity: 70%;
  font-weight: lighter;
  margin-bottom: -35px;
}
strong {
  font-size: 18px;
}
.Meaning .example {
  color: #000000;
  opacity: 70%;
  font-weight: lighter;
  font-size: 14px;
}
.Meaning .synonyms {
  color: #000000;
  opacity: 70%;
  font-weight: lighter;
}
